/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Login */



/* PreLoader */
.loader{
  position: relative;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 99999;
  transition: 1s;
}
.loader .span{
  position: absolute;
  transform: translate(-50%, 50%);
  width: 60px; 
  height: 60px;
  top: 35%;
  border: 5px solid #5E72E4;
  z-index: 1;
  animation: animar 2.5s linear infinite;
}
.loader .span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  animation: animarbg 2.5s linear infinite;
}

@keyframes animar {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, 50%) rotate(180deg);
    }
    50% {
        transform: translate(-50%, 50%) rotate(180deg);
    }
    75% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
}
@keyframes animarbg {
    0% {
        height: 0;
    }
    25% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}


/*Para Aside Menu principal*/

/*
#wrapper {
  padding-left: 70px;
  transition: all .1s ease 0s;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 150px;
  background: #000000;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .2s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
 #wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
}


#page-content-wrapper {
width: 100%;
}

#sidebar_menu li a, .sidebar-nav li span {
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: #000000;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .1s;
  -moz-transition: background .1s;
  -o-transition: background .1s;
  -ms-transition: background .1s;
  transition: background .1s;
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
line-height: 40px;
text-indent: 20px;
}

.sidebar-nav li a {
color: #fff !important;
display: block;
text-decoration: none;
}

.sidebar-nav li span:hover {
color: #fff;
background: rgba(255,255,255,0.2);
text-decoration: none;
}

.sidebar-nav li span:active,
.sidebar-nav li span:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 18px;
}

.sidebar-nav > .sidebar-brand span {
color: #999999;
}

.sidebar-nav > .sidebar-brand span:hover {
color: #fff;
background: none;
}

#main_icon
{
  float:right;
 padding-right: 65px;
 padding-top:20px;
}
.sub_icon
{
  float:right;
 padding-right: 65px;
 padding-top:10px;
}
.content-header {
height: 65px;
line-height: 65px;
}

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .2s ease 0s;
  }
}

*/

/* personalización */
.page-content {
  padding: 0 5px
}

.course-name {
  padding: 0 10px
}

h1 {
  font-size: 1.8em !important;
  line-height: 1.5;
}

#sidebar-wrapper .active {
  background-color: darkslategray;
}


.accordion {
  width: 100%;
}

/* Height auto */
.h-auto {
  height: auto;
}

/* Menu del curso */
.course-menu > li .active {
  font-weight: bolder;
}

.course-menu > li > a{
  color: #525f7f;
}


/* Archivos del curso */

.table-files {
  font-size: .8rem;
}
.table-files td, .table-files th {
  padding: 0.4rem;
}
.table-files tbody th{
  cursor: pointer;
}

.table-files .file-row-icon {
  font-size: 1rem;
  margin: 0 5px;
}

.table-files .file-row-name {
  font-weight: normal;
}

/* Visor de modulos */
.accordion .card-header:after {
  display: none;
}

.card-img-top{
  max-height: 200px;
}

/* Chat flotante */

.throwsChat{
  bottom: 20px;
  right: 70px;
  position: fixed;
}
.round.hollow {
   margin: 40px 0 0;
}
.round.hollow a {
   border: 2px solid #001F6A;
   border-radius: 35px;
   color: #001F6A;
   font-size: 14px;
   padding: 10px 21px;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
}
.round.hollow a:hover {
   border: 2px solid #000;
   border-radius: 35px;
   color: #000;
   padding: 10px 21px;
   text-decoration: none;
}
.popup-box {
  background-color: #ffffff;
   border: 1px solid #b0b0b0;
   bottom: 0;
   display: none;
   height: 415px;
   position: fixed;
   right: 70px;
   width: 300px;
   font-family: 'Open Sans', sans-serif;
}
.popup-box-on {
  display: block !important;
}
.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #7b7b7b;
  display: inline-table;
  font-size: 21px;
  padding: 7px 10px;
  width: 100%;
   font-family: Oswald;
}
.bg_none i {
  border: 1px solid #ff6701;
  border-radius: 25px;
  color: #ff6701;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bg_none:hover i {
  border: 1px solid #000;
  border-radius: 25px;
  color: #000;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bg_none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.popup-box .popup-head .popup-head-right {
  margin: 11px 7px 0;
}
.popup-head-left img {
  border: 1px solid #7b7b7b;
  border-radius: 50%;
  width: 44px;
}
.popup-messages-footer > textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
   border: medium none;
  width: 95% !important;
}
.popup-messages-footer {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
}
.simple_round {
  background: #d1d1d1 none repeat scroll 0 0;
  border-radius: 50%;
  color: #4b4b4b !important;
  height: 21px;
  padding: 0 0 0 1px;
  width: 21px;
}





.popup-box .popup-messages {
  background: white none repeat scroll 0 0;
  height: 275px;
  overflow: auto;
}
.direct-chat-messages {
  overflow: auto;
  padding: 10px;
  transform: translate(0px, 0px);
  
}
.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #BFC7D9;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}
.popup-messages abbr.timestamp {
  background: #001F6A none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}

.popup-head-right .btn-group {
  display: inline-flex;
margin: 0 8px 0 0;
vertical-align: top !important;
}
.chat-header-button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #636364;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  width: 30px;
}
.popup-head-right .btn-group .dropdown-menu {
  border: medium none;
  min-width: 122px;
padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
  font-size: 12px;
  padding: 3px 10px;
color: #303030;
}

.popup-messages abbr.timestamp {
  background: #001F6A  none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}
.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #BFC7D9;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}
.popup-messages .direct-chat-messages {
  height: auto;
}
.popup-messages .direct-chat-text {
  background: #BFC7D9 none repeat scroll 0 0;
  border: 1px solid #BFC7D9;
  border-radius: 2px;
  color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
  color: #fff;
  opacity: 0.6;
}

.popup-messages .direct-chat-name {
font-size: 15px;
font-weight: 600;
margin: 0 0 0 49px !important;
color: #fff;
opacity: 0.9;
}
.popup-messages .direct-chat-info {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}
.popup-messages  .big-round {
  margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
  border: 1px solid #fff;
background: #3f9684  none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -21px 0 0;
  width: 40px;
}
.direct-chat-reply-name {
  color: #fff;
  font-size: 15px;
  margin: 0 0 0 10px;
  opacity: 0.9;
}

.direct-chat-img-reply-small
{
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 0 8px;
  width: 20px;
background:#3f9684;
}

.popup-messages .direct-chat-msg {
  margin-bottom: 10px;
  position: relative;
}

.popup-messages .doted-border::after {
background: transparent none repeat scroll 0 0 !important;
  border-right: 2px dotted #fff !important;
bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

.popup-messages .direct-chat-msg::after {
  background: #fff none repeat scroll 0 0;
  border-right: medium none;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
 
  border-color: transparent #dfece7 transparent transparent;
  
}
.direct-chat-text::after, .direct-chat-text::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #d2d6de transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}
.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}
.popup-messages .direct-chat-text {
  background: #D8DCE7 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}
.direct-chat-text {
  background: #d2d6de none repeat scroll 0 0;
  border: 1px solid #d2d6de;
  border-radius: 5px;
  color: #444;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}




